{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Super Payment Adjuster plugin for Craft CMS
 *
 * SuperPaymentAdjusterUtility Utility Content
 *
 * @author    Dale Ramirez
 * @copyright Copyright (c) 2020 Dale Ramirez
 * @link      https://github.com/pdaleramirez
 * @package   SuperPaymentAdjuster
 * @since     1.0.0
 */
#}

<h1>SuperPaymentAdjusterUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@pdaleramirez/superpaymentadjuster/assetbundles/superpaymentadjusterutilityutility/dist', true) ~ '/img/SuperPaymentAdjusterUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>
